{% include 'base.html' %}
{% load static %}
{% block content %}
    
        <h1 class="text-center text-light">Characters</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4 m-5">
        {% for char in characters %}
        
            <div class="col">
                <div class="card mb-3 text-bg-dark" style="padding: 10px;">
                    <div class="row g-0">
                      <div class="col-md-4 image" style="background-image: url('{{ char.image.url }}');">
                        
                      </div>
                      <div class="col-md-8">
                    
                        <div class="card-body">
                          <h5 class="card-title">Name: {{ char.name }}</h5>
                          <p class="card-text">Age: {{ char.age }}</p>
                          <p class="card-text" style="font-family: Arial, Helvetica, sans-serif;font-size: small;">Description: {{ char.description }}</p>
                          <p class="card-text">Breathing Style: <small>{{ char.breathing_style }}</small></p>
                        </div>
                      </div>
                  
                    </div>
                  </div>
            </div>
          
        
        {% endfor %}
    
 
    
{% endblock %}